/target/
/src/main/resources/application-dev.properties
/.settings/
.classpath
.idea
.project
/.iml
/bos.user.iml
/src/main/resources/application-prod.properties
/src/main/resources/application.properties
/src/main/resources/ifcengine.properties
/spaceTrees/
/route_null.json
/xhz.api.iml
/README.md
/src/main/java/META-INF/
!/src/main/resources/ifcengine.properties
/indexDir/
/pathService.iml
